.content {
  width: 100%;
  min-height: calc(100vh - vw(1053));

  .tab_ani {
    position: relative;
    animation: tabAni 0.5s;
  }

  .tab_content {
    width: 100%;
    margin-top: vw(66);

    div.product-list {
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }

    button.get-more {
      display: block;
      margin: vw(30) auto;
      border: 1px solid #eee;
      background: none;
      cursor: pointer;
      padding: vw(20) vw(100);
    }

    .product_list_item {
      width: calc((100% - 159px) / 4);
      margin-right: 53px;
      margin-bottom: 80px;
      cursor: pointer;

      >div {
        >.product_img {
          width: 100%;
          height: 0;
          padding-top: 100%;
          box-sizing: border-box;
          background: #f6f6f6;
          position: relative;
          overflow: hidden;

          background: {
            size: cover;
            position: center center;
            repeat: no-repeat;
          }

          .product_new {
            position: absolute;
            top: vw(24);
            right: vw(24);
            z-index: 1;

            div {
              height: vw(28);
              background: rgba(0, 0, 0, 0.4);
              color: #fff;
              text-align: center;
              line-height: vw(28);
              font-size: vw(14);
              white-space: nowrap;
              padding: 0 15px;
            }
          }

          .product_multicolor {
            position: absolute;
            bottom: vw(24);
            left: vw(24);
            width: vw(28);
            height: vw(28);
            z-index: 1;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }

        >.product_screenPhoto {
          background-size: contain;
        }

        .news_box {
          .news_title {
            margin-top: vw(40);

            >h3 {
              font-size: vw(18);
              line-height: vw(27);
              font-weight: bold;
            }

            >p {
              font-size: vw(22);
              color: rgba(0, 0, 0, 0.6);
              margin-top: vw(12);
            }
          }
        }
      }
    }

    .product_list_item:nth-child(4n) {
      margin-right: 0;
    }
  }

  >.empty_box {
    max-width: vw(793);
    margin: 0 auto;
    padding-top: vw(160);
    padding-bottom: vw(200);

    >.empth_img {
      width: vw(177);
      margin: 0 auto;

      img {
        width: 100%;
        object-fit: contain;
      }
    }

    >.empty_desc {
      text-align: center;
      margin-top: vw(20);

      p {
        color: #333;
        opacity: 0.4;
        font-size: vw(16);
        line-height: vw(28);
      }
    }
  }

  @keyframes tabAni {
    from {
      top: vw(20);
      opacity: 0;
    }

    to {
      top: 0;
      opacity: 1;
    }
  }
}

@include media(">maxW") {
  .content {
    width: 100%;
    min-height: calc(100vh - 1053px);

    .tab_content {
      margin-top: 66px;

      button.get-more {
        margin: 30px auto;
        padding: 20px 100px;
      }

      .product_list_item {
        cursor: pointer;

        >.product_img {
          .product_new {
            position: absolute;
            top: 24px;
            right: 24px;

            div {
              height: 28px;
              line-height: 28px;
              font-size: 14px;
            }
          }

          .product_multicolor {
            position: absolute;
            bottom: 24px;
            left: 24px;
            width: 28px;
            height: 28px;
          }
        }

        .news_box {
          .news_title {
            margin-top: 40px;

            >h3 {
              font-size: 18px;
              line-height: 27px;
            }

            >p {
              font-size: 20px;
              margin-top: 12px;
            }
          }
        }
      }
    }

    >.empty_box {
      max-width: 793px;
      margin: 0 auto;
      padding-top: 160px;
      padding-bottom: 200px;

      >.empth_img {
        width: 177px;
      }

      >.empty_desc {
        margin-top: 20px;

        p {
          font-size: 16px;
          line-height: 28px;
        }
      }
    }

    @keyframes tabAni {
      from {
        top: 20px;
        opacity: 0;
      }

      to {
        top: 0;
        opacity: 1;
      }
    }
  }
}