

h3 {
  font-size: mrem(48);
}
.user-main {
  padding: mvw(24) mvw(24) 0;
}
img {
  width: 100%;
}
.hui-border {
  border: 1px solid #DDDDDD;
  background: none;
  
  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
header {
  display: flex;
  align-items: center;
  flex-direction: column;

  .head {
    position: relative;
    width: mvw(56);
    height: mvw(56);

    input {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  figure {
    width: mvw(56);
    height: mvw(56);
    border-radius: mvw(28);
    overflow: hidden;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  p.name {
    margin: mvw(10) 0;
    font-weight: bold;
    font-size: mrem(36);
  }
  button {
    width: mvw(80);
    height: mvw(32);
    line-height: mvw(30);
  }
}
p.small {
  font-size: mrem(24);
  color: #555;
}
section {
  margin-top: mvw(40);

  ul {
    list-style-type: none;

    li {
      cursor: pointer;
      height: mvw(52);
      display: flex;
      justify-content: space-between;
      padding-right: mvw(24);
      position: relative;
      border-bottom: mvw(1) solid #F6F6F6;
      line-height: mvw(52);

      &::after {
        content: '';
        position: absolute;
        right: 0;
        top: mvw(18);
        width: mvw(16);
        height: mvw(16);
        transform: rotate(-90deg);
        background: {
          image: url('~/assets/images/AAmobile/main/menu-dot.png');
          size: mvw(16) mvw(16);
        };
      }

      &:first-child {
        border-top: mvw(1) solid #F6F6F6;
      }
    }
  }
}
button.logout {
  width: mvw(120);
  height: mvw(40);
  position: absolute;
  bottom: mvw(40);
  left: mvw(127.5);
}
button.confirm {
  background-color: #000;
  color: #fff;
  border: none;
  width: mvw(120);
  height: mvw(40);
  
  &.disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}
input.full-input {
  width: mvw(247);
  height: mvw(50);
  border-bottom: mvw(1) solid #000;
}
button {
  color: #000;
}